coverage
node_modules
npm-debug.log
../npm-debug.log
temp
.DS_Store
spec-cordova/fixtures/projects/native
spec-cordova/fixtures/projects/cordova
.idea/*
.gitcore
*.jar
src/plugman/defaults.json
cordova-lib/src/plugman/defaults.json
cordova-lib/spec-plugman/plugins/recursivePlug/demo/fetch.json
cordova-lib/spec-plugman/plugins/recursivePlug/demo/test-recursive
