coverage
.nyc_output/
node_modules
npm-debug.log
../npm-debug.log
temp
.DS_Store
spec-cordova/fixtures/projects/native
spec-cordova/fixtures/projects/cordova
.idea
.gitcore
*.jar
.vscode
src/plugman/defaults.json
src/plugman/defaults.json
spec/plugman/plugins/recursivePlug/demo/fetch.json
spec/plugman/plugins/recursivePlug/demo/test-recursive
**/*.swp
