language: node_js
sudo: false
git:
  depth: 10
node_js:
  - "4"
  - "6"
  - "8"
# we don't test with npm 2.x
before_install: if [[ `npm -v` < 3 ]]; then npm i -g npm@3; fi
install:
  - npm install
  # Workaround for npm/npm#10343 when dependency of linked module is moved to dependent
  # module's 'node_modules' In our case 'cordova-common' -> jshint' -> 'cli' dependency
  # is moved to 'cordova-lib' and hence 'npm run jshint' on 'cordova-common' is failing
  #- "(cd cordova-common && npm install)"
  #- (cd cordova-fetch && npm install && npm link ../cordova-common)

script:
  - "npm test"
