<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TopActivityIndicator</key>
	<string>gray</string>
	<key>EnableLocation</key>
	<false/>
	<key>EnableViewportScale</key>
	<false/>
	<key>AutoHideSplashScreen</key>
	<true/>
	<key>ShowSplashScreenSpinner</key>
	<true/>
	<key>MediaPlaybackRequiresUserAction</key>
	<false/>
	<key>AllowInlineMediaPlayback</key>
	<false/>
	<key>OpenAllWhitelistURLsInWebView</key>
	<false/>
	<key>ExternalHosts</key>
	<array/>
	<key>Plugins</key>
	<dict>
		<key>org.test.accelerometer</key>
		<string>PGAccelerometer</string>
		<key>org.test.camera</key>
		<string>PGCamera</string>
		<key>org.test.connection</key>
		<string>PGConnection</string>
		<key>org.test.contacts</key>
		<string>PGContacts</string>
		<key>org.test.debugconsole</key>
		<string>PGDebugConsole</string>
		<key>org.test.file</key>
		<string>PGFile</string>
		<key>org.test.filetransfer</key>
		<string>PGFileTransfer</string>
		<key>org.test.geolocation</key>
		<string>PGLocation</string>
		<key>org.test.notification</key>
		<string>PGNotification</string>
		<key>org.test.media</key>
		<string>PGSound</string>
		<key>org.test.mediacapture</key>
		<string>PGCapture</string>
		<key>org.test.splashscreen</key>
		<string>PGSplashScreen</string>
		<key>org.test.battery</key>
		<string>PGBattery</string>
	</dict>
</dict>
</plist>
