<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="id.plugin"
      version="0.0.2">
    <name>The Plugin</name>

    <script type="postinstall" src="scripts/hook.js" />
    <script type="preinstall" src="scripts/hook.js" />
    <script type="uninstall" src="scripts/hook.js" />
    <platform name="ios">
        <script type="install" src="scripts/hook.js" />
    </platform>
</plugin>
